.company-logo {
  height: auto;
}

.company-logo.small {
  max-width: 200px; /* Adjust size as needed */
}

.company-logo.medium {
  max-width: 400px; /* Adjust size as needed */
}

.company-logo.large {
  max-width: 600px; /* Adjust size as needed */
}
