.rdt_Table {
  direction: rtl;
}

.table_spinner {
  width: 100px;
  height: 100px;
  margin: 245px 20px;
}

.data-table .rdt_TableCol,
.data-table .rdt_TableCell {
  justify-content: center;
}
.data-table .rdt_TableCol {
  font-weight: 800;
}
