* {
  font-family: 'lamasans' !important;
}

.action-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.action-button-container ion-button {
  font-size: 1.2rem;
}

/* .form_ion-item {
  border-bottom: 1px var(--ion-border-color) solid;
  transition: border-color 0.5s !important;
}

.form_ion-item:focus-within {
  border-bottom: 1px var(--ion-color-primary-tint) solid;
} */

.form {
  direction: rtl;
}

.form_input,
.form_text-area {
  background-color: var(--ion-color-step-50);
  padding: 2px 20px !important;
  padding-bottom: 12px !important;
}

ion-select {
  height: 100%;
  --color: var(--ion-color-step-950) !important;
}

.form .form_row {
  margin-bottom: 10px;
}

.form_title {
  text-align: center;
}

ion-button[shape='circle'] {
  --border-radius: 50%;
  width: 56px;
  height: 56px;
}

.form_addbtn-container {
  margin: 0px 5px;
}

.form_month-picker {
  margin: auto;
}

.input_error-msg {
  color: var(--ion-color-danger);
  font-size: 12px;
  margin-bottom: 6px;
}
